.App {
  font-family: sans-serif;
  text-align: center;
}
/* styles.css */

/* Navbar styles */
.navbar {
  background-color: #007bff; /* Change the background color as needed */
  padding: 10px;
  text-align: center;
}

.navbar button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #ffffff; /* Change the background color as needed */
  color: #007bff; /* Change the text color as needed */
  border: 1px solid #007bff; /* Change the border color as needed */
  cursor: pointer;
}

/* Full Calendar styles */
.App {
  margin-top: 60px; /* Adjust the top margin to avoid overlapping with the navbar */
}

/* CustomModal styles */
.modal-dialog {
  max-width: 600px; /* Adjust the maximum width of the modal as needed */
}

/* Add more styles as needed */
